h1 {
  text-align: center;
  font-family: Sansita;
  font-style: italic;
}

.scrollable {
  max-height: 90%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.custom-button {
  margin: 8px 0px;
  float: right;
  padding: 6px 12px;
  background: #9fcaea;
  border: 0px;
  border-radius: 8px;
  font-family: Noto Sans;
  font-weight: 800;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.custom-button:hover {
  background: #76bcef;
}

.custom-card-body {
  padding: 0px;
}

.custom-card-title {
  margin: 5px;
}

.form-control:focus {
  outline: none !important;
}

.price-input-dollar-sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 58px;
  float: right;
}

.price-input {
  width: 100%;
  height: 40px;
  border: none;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: none;
  background-color: #ffffff;
}

.price-input::before {
  position: absolute;
  content: "$";
  left: 5px;
  top: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-button {
  margin: 3px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  color: #9fcaea;
}

.edit-button:hover {
  color: #76bcef;
}

.edit-functions {
  display: flex;
  flex-direction: column;
  float: right;
}

.item-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 3px 0px;
}

.custom-card-subtitle {
  margin: 0px 0px 0px 2px;
  color: #6c757d;
}
